services:
  - type: web
    name: artlist-csrf-api
    env: node
    plan: free
    buildCommand: npm ci && npx puppeteer browsers install chrome
    startCommand: node index.js
    autoDeploy: true
    envVars:
      NODE_VERSION: 20
      PUPPETEER_CACHE_DIR: /opt/render/.cache/puppeteer
